<h2 class="m-5 font-medium text-grey-800 dark:text-neutral-200" id="experience">
    Work Experience
</h2>
<!-- Timeline -->
<div>
    <!-- Item -->
    <div class="group relative flex gap-x-5">
        <!-- Icon -->
        <div
            class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
            <div class="relative z-10 size-6 flex justify-center items-center">
                <img src="assets/images/logo_PJIC.webp" alt="logo_PJIC"
                    class="width-32 height=32 fill-none rounded-full text-neutral-400">
            </div>
        </div>
        <!-- End Icon -->

        <!-- Right Content -->
        <div class="grow pb-8 group-last:pb-0">
            <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
                Aug. 2024 - Dec. 2024
            </h3>

            <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
                University Intern
            </p>

            <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
                During this internship, I participated in an institutional project focused on the development of
                administrative solutions aimed at improving the operational efficiency of payroll processes for
                professors.
            </p>

            <ul class="list-disc ms-6 mt-3 space-y-1.5">
                <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    I designed and developed a Payroll Acquisition module using Angular and Laravel.
                </li>
                <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    Automation of key processes such as payment calculations, deductions and financial reporting.
                </li>
            </ul>
        </div>
        <!-- End Right Content -->
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="group relative flex gap-x-5">
        <!-- Icon -->
        <div
            class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
            <div class="relative z-10 size-6 flex justify-center items-center">
                <img src="assets/images/logo_PJIC.webp" alt="logo_PJIC"
                    class="width-32 height=32 fill-none rounded-full text-neutral-400">
            </div>
        </div>
        <!-- End Icon -->

        <!-- Right Content -->
        <div class="grow pb-8 group-last:pb-0">
            <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
                Jun. 2024 - Jul. 2024
            </h3>

            <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
                Academic Monitor
            </p>

            <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
                As a monitor, I provided academic support to university students, strengthening their competencies in
                technical subjects through constant support and pedagogical strategies adapted to their needs.
            </p>

            <ul class="list-disc ms-6 mt-3 space-y-1.5">
                <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    I accompanied more than 30 students in programming and basic science subjects.
                </li>
                <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    I designed and implemented personalized learning strategies in a collaborative environment.
                </li>
            </ul>
        </div>
        <!-- End Right Content -->
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="group relative flex gap-x-5">
        <!-- Icon -->
        <div
            class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
            <div class="relative z-10 size-6 flex justify-center items-center">
                <img src="assets/images/logo_SENA.webp" alt="logo_SENA"
                    class="width-32 height=32 fill-none rounded-full text-neutral-400">
            </div>
        </div>
        <!-- End Icon -->

        <!-- Right Content -->
        <div class="grow pb-8 group-last:pb-0">
            <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
                Jun. 2014 - Oct. 2014
            </h3>

            <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
                SENA Technical Intern
            </p>

            <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
                During this technical internship, I provided support in maintenance tasks, data collection and
                logistics, contributing to the implementation of environmental and agricultural programs led by the
                Secretariat in the Urabá region.
            </p>

            <ul class="list-disc ms-6 mt-3 space-y-1.5">
                <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    I performed preventive and corrective maintenance of computer equipment.
                </li>
                <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    I collected information through surveys and prepared technical reports for project analysis.
                </li>
                <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                    I assisted in the organization and development of field visits, providing technical and logistical support.
                </li>
            </ul>
        </div>
        <!-- End Right Content -->
    </div>
    <!-- End Item -->
</div>
<!-- End Timeline -->